<div class="row">
    <div class="col">
        <!-- {{searchAmendList |json}} -->
        <div class="form-group">
            <table datatable class="row-border hover">
                <thead >
                    <tr>
                        <th>Code</th>
                        <th>FileName</th>
                        <th>Language</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of searchAmendList">
                        <td>{{obj.Code}}</td>
                        <td>{{obj.DocName}}</td>
                        <td>{{obj.Language}}</td>
                        <td>
                            <span class="btn btn-Hand mr-3 d-flex justify-content-center align-items-center">
                                <i class="fa fa-eye" style="width: 14px;"></i>
                            </span>
                            &nbsp;
                            <span class="btn btn-Hand mr-3 d-flex justify-content-center align-items-center">
                                <i class="fa fa-plus" style="width: 14px;"></i>
                            </span>
                           
                            </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>