<div class="container-fluid p-3 my-3 mt-5 border">
    <div class="row">
        <!-- main  -->
        <div class="col">
            <div class="container p-3 my-3 mt-5">
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" id="usr" placeholder="Search Proposal...">
                    </div>
                    <h2>Recent Uploads </h2>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#">Proposal ID 20210429</a>
                                        </td>
                                        <td>
                                            <a href="#"><label>Last Modified: April-15-2021</label></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">Proposal ID 20210400</a>
                                        </td>
                                        <td>
                                            <a href="#"><label>Last Modified: April-15-2021</label></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">Proposal ID 20210329</a>
                                        </td>
                                        <td>
                                            <a href="#"><label>Last Modified: April-15-2021</label></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- side cards  -->
        <div class="col-5">
            <div class="col mt-3">
                <div class="card " routerLink="/createproposal" routerLinkActive="active">
                    <div class="card-header">
                        <span> <img 
                  src="../../../assets/images/black-24dp create proposal/1x/outline_create_black_24dp.png" alt=""> 
                  <b> Create
                  Proposal</b> </span>
                    </div>
                    <div class="card-body" style="background:#8661C5">
                        <p class="card-text">Get started by creating a new proposal from scrach </p>
                    </div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="card " routerLink="/replicaporposal" routerLinkActive="active">
                    <div class="card-header"> <span> <img 
                  src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt=""> <b> Replicate
                  Proposal</b> </span> </div>
                    <div class="card-body" style="background:#91C1E6">
                        <p class="card-text">Get started by creating a new proposal from scrach </p>
                    </div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="card  " routerLink="/activeproposal" routerLinkActive="active">
                    <div class="card-header"> <span> <img 
                  src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt=""> <b> Active
                  Proposal</b> </span> </div>
                    <div class="card-body" style="background:#6AAB6A">
                        <p class="card-text">Get started by creating a new proposal from scrach </p>
                    </div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="card " routerLink="/downloadamendet" routerLinkActive="active">
                    <div class="card-header"> <span> <img 
                  src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png" alt=""> <b> Download Amendment
                  Edit Service</b> </span> </div>
                    <div class="card-body" style="background:#FF9349">
                        <p class="card-text">Get started by creating a new proposal from scrach </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>