.select-category-container {
    position: relative;
    z-index: 50
}
.select-category-container .select-category {
    background: #fff;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px
}

 

     .select-category-container .select-category input[type="radio"],
     .select-category-container .select-category input[type="checkbox"] {
        cursor: pointer;
        margin-right: 10px
    }
.subCategoryChecked {
    top: 0 !important
}
.category {
    padding: 10px;
    border: 1px solid;
    border-top: 0
}
 .category ul {
    padding: 0
}

     .category ul li {
        list-style-type: none;
        padding: 3px
    }

     .category ul ul {
        margin-left: 15px
    }

 .category .form-group {
    margin: 5px
}

 .category .row {
    padding: 5px;
    margin: 5px
}

