<div class="container-fluid p-4 my-3 mt-5 border">
    <div class="row align-items-star">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <span>CTM Footer Code</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <span>CTM Codes:</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <span>Footer Category:</span>
                    </div>
                </div>
                <div class="col-4 select-category-container">
                    <button class="form-control text-left" (click)="SelectCategory=!SelectCategory" style="border-color:#000">
                        {{SelectedCategoriesText}}<i class="fa fa-sort-down pull-right"></i>
                    </button>
                    <div class="select-category" ng-class="{'subCategoryChecked':true}">
                        <!-- ng-show="SelectCategory" ng-init="skipValue=1" ng-click="CategoryDiv();" -->
                        <div class="category">
                            <div *ngFor="let category of footerCategory | parentPipesval">
                                <input type="checkbox">    {{category.Name}}-{{category.Description}}
                            </div>
                        </div>
                        
                        </div>
                    <!-- <div class="form-group">                        
                        <div  *ngFor="let category of footerCategory | parentPipesval">
                           
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <span>Amendment Code:</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <div class="form-group">
                            <span>Language:</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <span>Customer Scenario/ Reasoning:</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="textarea" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>