<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#433163" fullScreen="true" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid p-4 my-3 mt-5 border">

  <div class="row align-items-start">
    <div class="col-12 p-r-0">
      <div class="form-group">
        <div class="header-pic"><span class="Mopet">Submit to MOPET</span> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Proposal ID</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" disabled name="proposalId" [(ngModel)]="mopetDetails.proposalId">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Pricing Country <span
            class="error_color">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" name="pricingCountry" (change)="coutryChanged()"
            [(ngModel)]="mopetDetails.pricingCountry" #pricingCountry="ngModel">

            <option [value]="null">Select Pricing Country</option>
            <option *ngFor="let obj of config" [value]="obj">{{obj}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Licensing Contact Alias <span
            class="error_color">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="lastModifiedBy" (blur)="updatemopetDetails()"
            [(ngModel)]="mopetDetails.lastModifiedBy">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Customer Name <span
            class="error_color">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="customerName" (blur)="updatemopetDetails()"
            [(ngModel)]="mopetDetails.customerName">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Op Center <span class="error_color">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" name="opCenter" (blur)="updatemopetDetails()" [(ngModel)]="mopetDetails.opCenter"
            #opCenter="ngModel">
            <option [value]="null">Select Op-Center</option>
            <option *ngFor="let obj of opCenterVales" [value]="obj.code">{{obj.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Program <span class="error_color">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" name="program" (blur)="updatemopetDetails()" [(ngModel)]="mopetDetails.program"
            #program="ngModel">
            <option [value]="null">Select Program</option>
            <option *ngFor="let obj of userProgram" [value]="obj.code">{{obj.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Comments</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" (blur)="updatemopetDetails()" name="comments"
            [(ngModel)]="mopetDetails.comments">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Upload Offline Proposal Document</h4>
      <p>The “Update Document to Proposal” button below will replace the proposal document generated by the web service
        with
        the uploaded file. Only leverage this feature if you have filled in form fields for the generated document
        outside
        of the service and wish to replace the web generated document.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group" style="width: 50%;" role="group" aria-label="Basic example">
        <div class="btn btn-primary btn-sm ">
          <span style="cursor: pointer" class=""> {{SpanName}}</span>
          <input style="cursor: pointer;" class="sample" type="file" (change)="onFileChanged($event)" name="file" />

        </div>&nbsp;
        <div class="btn btn-primary btn-sm" *ngIf="isPricingContry">
          <span style="cursor: pointer" class="">Upload Offline Pricing Document to Proposal</span>
          <input style="cursor: pointer;" class="sample" type="file" (change)="onFileChanged($event)" name="file" />
        </div>
        <!-- <div class="row">
          <div class="col p-0" style="margin-right: 5px;">
           
            
          </div>
          <div class="col p-0" >
            
          </div>
        </div> -->
      </div>
      <div class="col" style="text-align: end;">
        <div class="btn-group" style="width: 50%;" role="group" aria-label="Basic example">

          <button type="button" (click)="generate()" class="btn btn-primary btn-sm">Prev/Save Local Copy</button>&nbsp;
          <button type="button" class="btn btn-primary btn-sm" (click)="submitMopet()">Submit to MOPET</button>&nbsp;

          <button type="button" (click)="generatePricing()" *ngIf="showbutton" class="btn btn-primary btn-sm">Pricing
            Local Copy</button>&nbsp;
          <button type="button" (click)="generateNonPricing()" *ngIf="showbutton"
            class="btn btn-primary btn-sm">Non-Pricing Local Copy</button>&nbsp;
          <!-- {{status}} -->
          <!-- {{mopetDetails['proposalEntity'].status == 3 }} -->

        </div>
      </div>
    </div>
  </div>