<div class="container-fluid p-4 my-3 mt-5 border">

    <div class="row align-items-start">
        <div class="col-12 p-r-0">
            <div class="form-group">
                <div class="header-pic"><span class="proposal">Mopet Details</span> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <span>Submit to MOPET</span> <input type="text" class="form-control" />
        </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span>Pricing Country *</span>
                <input type="text" class="form-control" />
            </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <span>Licensing Contact Alias *</span>
                    <input type="text" class="form-control" />
                </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <span>Customer Name *</span>
                        <input type="text" class="form-control" />
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>Op Center *</span>
                            <input type="text" class="form-control" />
                        </div>
                        </div>
                          <div class="row">
                            <div class="col-4">
                                <span>Program *</span> <input type="text" class="form-control" />
                            </div>
                            </div>
                <div class="row">
                    <div class="col-4">
                        <span>Comments</span> <input type="text" class="form-control" />
                    </div>
                    </div>
                </div>