<div class="container-fluid p-4 my-3 mt-5 border">
  <div class="row align-items-star">
      <div class="col">


          <ul class="nav nav-tabs">
            <li class="nav-item" ><a href="#amendmentinfo" class="nav-link active" data-toggle="tab">Amendment Info</a></li>
            <li class="nav-item"><a href="#hrdcountries" class="nav-link" data-toggle="tab">HRD Countries</a></li>
            <li class="nav-item"><a href="#siriuscountries" class="nav-link" data-toggle="tab">Sirius Countries</a></li>
            <li class="nav-item"><a href="#alerts" class="nav-link" data-toggle="tab">Alerts</a></li>
         </ul>

         <div class="tab-content">
            <div class="tab-pane active" id="amendmentinfo">
              Amendment Info
              <!-- <app-amendment-info></app-amendment-info> -->
            </div>
            <div class="tab-pane" id="hrdcountries">

              <app-hrd-countries></app-hrd-countries> 
            </div>
            <div class="tab-pane" id="siriuscountries">Sirius Countries</div>
            <div class="tab-pane" id="alerts">Alerts</div>
         </div>


      </div>
  </div>
</div>
