<span>
<span (click)="editClicked($event)" class="outCircle"> <i class="fas fa-folder-open" style="width: 14px;"></i></span>&nbsp;
<span (click)="deleteClicked($event)" class="outCircle"> <i class="fa fa-times" style="width: 14px;"></i></span> &nbsp;
<span (click)="archieveClicked($event)" class="outCircle"> <i class="fas fa-archive" style="width: 14px;"></i></span> &nbsp;
<span (click)="shareClicked($event)" class="outCircle"><i class="fas fa-share"style="width: 14px;"></i></span>
<!--<button type="button" class="btn btn-sm" (click)="editClicked()" style="border:2px;margin-right:10px;color:#433163"><i class="fas fa-edit"></i>  Edit</button>-->
<!--<button type="button" class="btn btn-outline-secondary btn-sm" (click)="deleteClicked()" style="border:2px;"><i class="fas fa-times"></i>    Delete</button>-->

</span>