<div class="container-fluid p-4 my-3 mt-5 border">

    <div class="row align-items-start">
        <div class="col-12 p-r-0">
            <div class="form-group">
                <div class="header-pic"><span class="proposal">Active Proposal</span> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
                <div class="row">
                    <div class="col-3">
                        <ng-select class="ng-select" 
                        [(ngModel)]="searchObj.searchField" 
                        placeholder="Select Search" name="searchField" [items]="searchItem"
                        bindLabel="name" bindValue="id" #searchField="ngModel"
                        (clear)="clearVAl()">
                        </ng-select>
                    </div>
                    <div class="col-3" *ngIf="searchObj.searchField =='CreatedDate'">

                        <input type="text" class="form-control" #dp="bsDatepicker" name="searchText" bsDatepicker 
                        [bsConfig]="{containerClass:'theme-blue'}"
                            [(ngModel)]="searchObj.searchText" #searchText="ngModel">
                    </div>
                    <div class="col-3" *ngIf="searchObj.searchField !='CreatedDate'">
                        <input type="text" class="form-control" placeholder="Search Item.." name="searchText" [(ngModel)]="searchObj.searchText"
                            #searchText="ngModel" />
                    </div>
                    <div class="col-3">
                        <!-- <input type="button" name="reset"> <i class="fa fa-refresh"></i></input> -->
                        <button (click)="reset()" type="button" class="btn btn-primary"><i class="fa fa-refresh"></i> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col">
            <ag-grid-angular #agGrid style=" height:500px;" class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" (rowClicked)='onRowClicked($event)'
                [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
            </ag-grid-angular>
            <!--<table datatable class="row-border hover">
                <thead class="table-header">
                    <tr>
                        <th>Create</th>
                        <th>ProposalId</th>
                        <th>Created By</th>
                        <th>Modified By</th>
                        <th>Customer Name</th>
                        <th>Status</th>
                        <th>Shared</th>
                        <th>Delegation</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of ActiveProposal; let ie = index">

                        <td>{{obj.createdDate | date :'MM/dd/YY'}}</td>
                        <td>{{obj.proposalId}}</td>
                        <td>{{obj.createdByAlias}}</td>
                        <td>{{obj.lastModifiedBy}}</td>
                        <td>{{obj.customerName}}</td>
                        <td>{{obj.status == 0 ?'false':'true' }}</td>
                        <td>{{obj.isShared}}</td>
                        <td>{{obj.delegationStatus == 0 ?'false':'true'}}</td>
                        <td>
                            <span class="outCircle">
                                <i class="fas fa-folder-open" style="width: 14px;"></i>
                            </span>&nbsp;
                            <span class="outCircle">
                                        <i class="fa fa-times" style="width: 14px;"></i>
                                    </span> &nbsp;
                            <span class="outCircle">
                                        <i class="fas fa-archive" style="width: 14px;"></i>
                                    </span> &nbsp;
                            <span class="outCircle">
                                <i class="fas fa-share"style="width: 14px;"></i>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>-->

        </div>
    </div>
</div>